{% extends "authapp/base.html" %}
{% load tz %}


{% block title %}
{{ title }}
{% endblock %}



{% block content %}

<div class="row">
<h3>Hello, {{ user.username }}.</h3>
<h3>Список машин.</h3>
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr align="center" bgcolor="#e2e1da">
            <th>ID</th>
            <th>Брэнд</th>
            <th>Год выпуска</th>
            <th>Пробег</th>
            <th>Стоимость</th>
            <th>Автопарк</th>
            <th>Created at</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for car in vehicles %}
        <tr align="center" bgcolor="#f5f4ed">
            <td>{{ car.id }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.release_date }}</td>
            <td>{{ car.mileage }}</td>
            <td>{{ car.cost }}</td>
            <td>{{ car.company }}</td>
            <td>
                {% localtime on %}
                    {{ car.created_at }}
                {% endlocaltime %}
            </td>
            <td>
                <button class="btn btn-default btn-round">
                    <a href="{{ car.get_absolute_url }}">Редактировать</a>
                </button>
            </td>
            <td>
                 <button class="btn btn-default btn-round">
                    <a href="">Удалить</a>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--Взял откуда-то не сильно вникая-->
{% if vehicles.has_other_pages %}
<nav id="pagination" class="col align-self-center" aria-label="Page navigation example">
    <ul class="pagination">
    {% if vehicles.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ vehicles.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</span></li>
    {% endif %}
    {% for i in vehicles.paginator.page_range %}
        {% if i > vehicles.number|add:-4 and i < posts.number|add:4 %}
            {% if vehicles.number == i %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if vehicles.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ vehicles.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</span></li>
    {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}